/* @source https://stackoverflow.com/questions/17859993/basic-css-how-to-overlay-a-div-with-semi-transparent-div-on-top */
.story-panel-dimmed:after {
    background: rgba(0, 0, 0, 0.5);
    content: " ";
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

.story-status-top-bar {
    background: white;
    font-size: 14px;
    min-height: 200px;
    padding: 0 10%;
    position: fixed;
    z-index: 1000;
}

.story-status-top-bar h1, .story-status-top-bar p {
    color: #767676;
}

.story-status-top-bar h1 {
    font-family: Raleway, Verdana, sans-serif;
    font-weight: 200;
    margin: 2rem 0;
    text-align: center;
}

.story-status-top-bar p {
    font-weight: 500;
    margin-bottom: .5rem;
}

.story-status-top-bar .btn-blue {
    margin: 2rem 0;
    padding: 1rem 6rem;
}